// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$i1-name: 'i1'
$i1-x: 535px
$i1-y: 541px
$i1-offset-x: -535px
$i1-offset-y: -541px
$i1-width: 36px
$i1-height: 41px
$i1-total-width: 571px
$i1-total-height: 582px
$i1-image: '../img/sprites/sprite.png'
$i1: (535px, 541px, -535px, -541px, 36px, 41px, 571px, 582px, '../img/sprites/sprite.png', 'i1', )
$i2-name: 'i2'
$i2-x: 352px
$i2-y: 380px
$i2-offset-x: -352px
$i2-offset-y: -380px
$i2-width: 41px
$i2-height: 32px
$i2-total-width: 571px
$i2-total-height: 582px
$i2-image: '../img/sprites/sprite.png'
$i2: (352px, 380px, -352px, -380px, 41px, 32px, 571px, 582px, '../img/sprites/sprite.png', 'i2', )
$i3-name: 'i3'
$i3-x: 247px
$i3-y: 277px
$i3-offset-x: -247px
$i3-offset-y: -277px
$i3-width: 29px
$i3-height: 35px
$i3-total-width: 571px
$i3-total-height: 582px
$i3-image: '../img/sprites/sprite.png'
$i3: (247px, 277px, -247px, -277px, 29px, 35px, 571px, 582px, '../img/sprites/sprite.png', 'i3', )
$i4-name: 'i4'
$i4-x: 474px
$i4-y: 485px
$i4-offset-x: -474px
$i4-offset-y: -485px
$i4-width: 41px
$i4-height: 36px
$i4-total-width: 571px
$i4-total-height: 582px
$i4-image: '../img/sprites/sprite.png'
$i4: (474px, 485px, -474px, -485px, 41px, 36px, 571px, 582px, '../img/sprites/sprite.png', 'i4', )
$i5-name: 'i5'
$i5-x: 413px
$i5-y: 432px
$i5-offset-x: -413px
$i5-offset-y: -432px
$i5-width: 41px
$i5-height: 33px
$i5-total-width: 571px
$i5-total-height: 582px
$i5-image: '../img/sprites/sprite.png'
$i5: (413px, 432px, -413px, -432px, 41px, 33px, 571px, 582px, '../img/sprites/sprite.png', 'i5', )
$i6-name: 'i6'
$i6-x: 296px
$i6-y: 332px
$i6-offset-x: -296px
$i6-offset-y: -332px
$i6-width: 36px
$i6-height: 28px
$i6-total-width: 571px
$i6-total-height: 582px
$i6-image: '../img/sprites/sprite.png'
$i6: (296px, 332px, -296px, -332px, 36px, 28px, 571px, 582px, '../img/sprites/sprite.png', 'i6', )
$s1-name: 's1'
$s1-x: 160px
$s1-y: 177px
$s1-offset-x: -160px
$s1-offset-y: -177px
$s1-width: 21px
$s1-height: 30px
$s1-total-width: 571px
$s1-total-height: 582px
$s1-image: '../img/sprites/sprite.png'
$s1: (160px, 177px, -160px, -177px, 21px, 30px, 571px, 582px, '../img/sprites/sprite.png', 's1', )
$s2-name: 's2'
$s2-x: 115px
$s2-y: 134px
$s2-offset-x: -115px
$s2-offset-y: -134px
$s2-width: 25px
$s2-height: 23px
$s2-total-width: 571px
$s2-total-height: 582px
$s2-image: '../img/sprites/sprite.png'
$s2: (115px, 134px, -115px, -134px, 25px, 23px, 571px, 582px, '../img/sprites/sprite.png', 's2', )
$s3-name: 's3'
$s3-x: 76px
$s3-y: 88px
$s3-offset-x: -76px
$s3-offset-y: -88px
$s3-width: 19px
$s3-height: 26px
$s3-total-width: 571px
$s3-total-height: 582px
$s3-image: '../img/sprites/sprite.png'
$s3: (76px, 88px, -76px, -88px, 19px, 26px, 571px, 582px, '../img/sprites/sprite.png', 's3', )
$s4-name: 's4'
$s4-x: 39px
$s4-y: 43px
$s4-offset-x: -39px
$s4-offset-y: -43px
$s4-width: 17px
$s4-height: 25px
$s4-total-width: 571px
$s4-total-height: 582px
$s4-image: '../img/sprites/sprite.png'
$s4: (39px, 43px, -39px, -43px, 17px, 25px, 571px, 582px, '../img/sprites/sprite.png', 's4', )
$s5-name: 's5'
$s5-x: 201px
$s5-y: 227px
$s5-offset-x: -201px
$s5-offset-y: -227px
$s5-width: 26px
$s5-height: 30px
$s5-total-width: 571px
$s5-total-height: 582px
$s5-image: '../img/sprites/sprite.png'
$s5: (201px, 227px, -201px, -227px, 26px, 30px, 571px, 582px, '../img/sprites/sprite.png', 's5', )
$s6-name: 's6'
$s6-x: 0px
$s6-y: 0px
$s6-offset-x: 0px
$s6-offset-y: 0px
$s6-width: 19px
$s6-height: 23px
$s6-total-width: 571px
$s6-total-height: 582px
$s6-image: '../img/sprites/sprite.png'
$s6: (0px, 0px, 0px, 0px, 19px, 23px, 571px, 582px, '../img/sprites/sprite.png', 's6', )
$spritesheet-width: 571px
$spritesheet-height: 582px
$spritesheet-image: '../img/sprites/sprite.png'
$spritesheet-sprites: ($i1, $i2, $i3, $i4, $i5, $i6, $s1, $s2, $s3, $s4, $s5, $s6, )
$spritesheet: (571px, 582px, '../img/sprites/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
